body{
  padding: 0;
  margin:0; 
  height: 100vh;
}



html{
  overflow-y: auto;
}

.container{
  display: flex;
  /* background-image: url("newBackground.jpg");
  background-size: contain; */
  background-color: white;
  overflow: hidden; 
}

.clubContentStyle{
  font-weight: normal;
}

.leftcolumn{
  border-style: solid;
  padding: 1em;
  height: 100vh;
  overflow: auto;
  min-height: auto;
  width: 15%;
  overflow-y: auto;
  border-left: none;
  border-top: none;
  border-width: 0.2em;
  background-color: rgb(226, 223, 223);
  margin-bottom: -5000px; 
  padding-bottom: 5000px;
}

.restCol{
  background-color: rgb(226, 223, 223);
  height: 100%;
}

.middlecolumn{
  padding: 1em;
  /* overflow-y: auto; */
  border: none;
  width: 85%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.desc-container{
  margin-bottom: 2em;
  min-height: 6em;
  height: auto;
  border-style: solid;
  padding-left: 0.6em;
  border-width: 0.25em;
  background-color: rgb(226, 223, 223);
}

.mapcal-container{
  display: flex;
  gap: 7em;
  justify-content: center;
  border: none;
  padding: 2em; 
  
}

.mapContainer{
  text-align: center;
}

.calendarContainer{
  text-align: center;
}

.calendar{
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 0.35em;
  border-radius: 10px;
  padding: 1em;
  width: 30em;
  height: 30em; 
  background-color: rgb(226, 223, 223);
}

.calendarEvents{
  border: solid;
  border-color: black;
  border-width: 0.35em;
  border-radius: 10px;
  background-color: white;
}

#disconnectButton{
  padding: 15px;
  border: 2px solid black; 
  border-radius: 15px;
  background-color: white; 
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

.eventContent{
  border: 1px solid black; 
  padding: 5px; 
  margin-bottom: 10px; 
  display: flex; 
  justify-content: space-between;
}

#disconnectButton:hover{
  font-weight: bold; 
  background-color: rgb(235, 73, 73);
}

#apiConnectButton{
  padding: 15px;
  border: 2px solid black; 
  border-radius: 15px;
  background-color: white; 
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

#apiConnectButton:hover{
  font-weight: bold; 
  background-color: lightblue; 
}
#clubContainer {
  list-style-type: none; 
  padding: 0;
}

.clubButton {
  padding: 15px;
  border: 2px solid black; 
  border-radius: 15px;
  background-color: white; 
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 95%;
  margin: 10px 0; 
}

#clubSearchBar {
  padding: 5px 15px;
  border: 2px solid black; 
  border-radius: 15px;
  background-color: white; 
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

#bottomDesc{
  display: flex;
  justify-content: space-between; 
}

.stackBttns{
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-end; 
  gap: 10px; 
}


.addToCalendarBttn{
  padding: 15px;
  border: 2px solid black; 
  border-radius: 15px;
  background-color: white; 
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 20%;
  height: 20%;
  margin: 10px 0;
  margin-right: 1em;
}

.addToCalendarBttn:hover{
  font-weight: bold; 
  background-color: lightblue;
}

.clubButton:hover, .clubButtonActive {
  font-weight: bold; 
  background-color: lightblue; 
}

.calendarDisplay {
  border: 0;
  width: 100%;
  margin-top: 0.4em;
  height: 88%;
}

.mapStyle {
  width: 30em;
  height: 30em; 
  border: solid;
  border-color: black;
  border-width: 0.35em;
  border-radius: 10px;
}

/* Keeps search button that activates search command for the search bar invisible to the user */
#searchButton {
  visibility: hidden;
}

.containerTitle {
  background-color: rgb(226, 223, 223);
  margin: 0.83em 0;
  display: inline-block; /* Shrinks to the width of the content inside */
  padding: 12px;
  border-radius: 16px;
  border: 0.35em solid #000000;
}

.containerTitle h2 {
  margin: 0;
}

#clubFormContainer {
  display: none;
}

#addClubsForm {
  display: flex;
  flex-direction: column;
  padding: 2% 11% 0 11%;
}

#submitButton {
  max-width: 10%;
  padding: 1% 0 1% 0;
  margin-left: 42%;
  margin-bottom: -1%;
  background-color: white; 
  border: 2px solid black; 
  border-radius: 15px;
  color: black;
  cursor: pointer;
  display: inline-block; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 95%;
}

#submitButton:hover {
  cursor: pointer;
  transform: scale(1.2);
  font-weight: bold; 
  background-color: lightblue; 
}

.formInput{
  min-height: 30px;
  border-radius: 10px;
}

select {
  border: 2px solid black; 
}

textarea {
  border: 2px solid black; 
}

input {
  border: 2px solid black; 
}

label {
  margin-top: -1.5%;
}