* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  background-image: url("oldpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x:hidden;
}

.container{
  display: flex;
  height: 100vh;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.left{
  width: 20%;
  font-size: 1.2em;
  background-color: white;
  overflow-y: scroll;
}

.left ul {
  list-style-type: none;
  background-color: white;
  padding-left: 0.4em;
}

ul li a{
  color: black;
  text-decoration: none;
}

ul li a:hover{
  color: blue;
  text-decoration: underline;
}

.left li:hover {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

.left li {
  margin-bottom: 1em;
  margin-right: 1em;
}

li {
  background-color: rgb(206, 31, 31);
}

li:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.right{
  width: 25%;
  margin-left: 1em;
  text-align: center;
  margin-right: 1em;
  align-content: center;
}

.middle{
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.constitution {
  width:70%;
  margin: 2em;
}

.material-symbols-outlined:hover {
  color:rgb(38, 38, 41);
  font-variation-settings: 'FILL' 1;
}

.fillThumbs {
  font-variation-settings: 'FILL' 1;
  color: rgb(38, 38, 41);
}

mark:hover{
  background-color:rgb(213, 216, 52);
  cursor: pointer;
}

.material-symbols-outlined{
 cursor: pointer;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.topbar {
  background-color: rgb(18, 18, 111);
  height: 4em;
  align-content:center
}

#star {
  font-variation-settings: 'FILL' 1;
  color: rgb(255, 255, 255);
}

.constitution{
  overflow-y: scroll;
}

#star2 {
  font-variation-settings: 'FILL' 1;
  color: rgb(255, 255, 255);
}


.analysis-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.analysisNote {
  background-image: url("sticky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4em 2.5em 4em 2.5em;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
