body{
    width: 100%;
    margin: 0;
    background-image: url("./clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navBar{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:#7c57b9b8;
    border-bottom: 6px solid rgb(0, 0, 0);
}

#titleName{
    font-size: larger;
    font-weight: bold;
}

#pageContent{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#upperBox{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#upperBoxInfoContainer{
    width: 20%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid rgb(0, 0, 0);
    background:#6fa0d5b8;
}

.locationInfoDetails{
    font-size:150%;
    font-weight: bold;
}

#cityName{
    font-size:250%;
}

#pokemonBox{
    border: 6px solid rgb(0, 0, 0);
    background:#6fa0d5b8;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#weatherInfo{
    display: flex;
    align-items:center;
    justify-content: center;
    border: 6px solid rgb(0, 0, 0);
    background:#6fa0d5b8;
    gap: 100px;
}

#weatherInfoLeft{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
    margin-right: 20px;
}

#weatherInfoRight{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
    margin-right: 20px;
}

.weatherInfoDetails{
    font-size:150%;
}

#pokemonInfoContainer{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-right: 3px solid rgb(0, 0, 0);
}

#pokemonPictureBox{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border-left: 3px solid rgb(0, 0, 0);
}

.pokemonInfoDetails {
    margin: 0.5em;
    font-size: 150%;
}

#pokemonInfoTitle {
    font-weight: bold;
    font-size: 250%;
}

#pokemonImage {
    height: auto;
    width: 50%;
}